<?xml version="1.0"?>

<model>
  <name>Iris with Realsense Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Seunghwan Jo</name>
    <email>snipertype@hotmail.com</email>
  </author>

  <description>
    Iris with ArduPilot Plugin and Intel Realsense Camera
    Depends ArduPilot plugin and gazebo realsense plugin
  </description>
  <depend>
<!--    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model> -->
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
